/* hero */
@media (max-width: 767px){
  .heroWrapper{
    height: 85vh;
    display: flex ;
  }
  .menuLink{
    position: absolute;
    width: 100%;
    bottom: 30px;
    
  }
}


/* 1st Section */
/* For screens smaller than 768px (e.g. smartphones) */
@media (max-width: 767px) {
  .intro {
    grid-template-columns: 1fr;
    height: auto;
    /* padding: 10% 5%; */
  }
  
  .intro-image {
    order: 1;
    margin-bottom: 3rem;
  }
  
  .intro .intro-image img {
    max-width: auto;
  }
  
  .intro-content {
    order: 1;
    text-align: center;
  }
  
  .intro-content h1 {
    font-size: 2rem;
  }
  
  .counter-wrapper {
    grid-template-columns: repeat(2, 1fr);
    padding: 0;
    margin-top: 3rem;
  }
  
  .count {
    text-align: center;
    margin-bottom: 2rem;
  }
  
  .intro-content button {
    margin-top: 3rem;
  }
}
#aboutUs{
  margin: 0;
}
/* For screens larger than 768px (e.g. tablets and desktops) */
@media (min-width: 768px) {
  .intro {
    grid-template-columns: 40% 60%;
    height: 85vh;
    padding: 5%;
  }
  
  .intro-image {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .intro .intro-image img {
    max-width: 60%;
  }
  
  .intro-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: start;
    padding: 3%;
  }
  
  .intro-content h1 {
    font-style: italic;
    font-size: 2.5rem;
  }
  
  .intro-content p {
    font-size: 1.3rem;
  }
  
  .counter-wrapper {
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    padding: 6%;
    padding-left: 0;
  }
  
  .intro-content button {
    width: 9rem;
    height: 3rem;
    border-radius: 5px;
    border: none;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    background-color: #E1ad01;
    margin-top: 2rem;
  }
  
  .intro-content button:hover {
    transition: .3s ease;
    color: #E1ad01;
    font-style: bold;
    background-color: white;
    animation: menuBtnHover .3s ease 0s 1 normal forwards;
  }
}

/* Phone Order */
@media (max-width: 767px) {  
    .phoneWrapper {
        display: flex;
        flex-direction: column;
        align-items: center;
        height: 90vh;
        padding: 20px;
      }
      
      .phoneImage {
        width: 80%;
        max-width: 400px;
      }
      
      .phoneImage img {
        width: 100%;
        height: auto;
        animation: phoneEnt 2s ease 0s infinite normal forwards;
      }
      
      @keyframes phoneEnt {
        0% {
          transform: translate(0);
        }
        20% {
          transform: translate(-2px, 2px);
        }
        40% {
          transform: translate(-2px, -2px);
        }
        60% {
          transform: translate(2px, 2px);
        }
        80% {
          transform: translate(2px, -2px);
        }
        100% {
          transform: translate(0);
        }
      }
      
      .phoneTextContent {
        width: 80%;
        text-align: center;
      }
      
      .phoneTextContent h1 {
        font-style: italic;
        text-transform: uppercase;
        font-size: 2.5rem;
      }
      
      .phoneTextContent button {
        width: 100%;
        max-width: 500px;
        height: 120px;
        margin: 15px;
        margin-right: 0;
        border: none;
        background-color: #595959;
        color: white;
        border-radius: 10px;
        font-size: 2rem;
        font-family: 'Montserrat', sans-serif;
        text-transform: uppercase;
        font-style: italic;
      }
      
      .phoneTextContent button:hover {
        animation: buttonAnimation 0.2s ease 1 normal forwards;
        transition: ease-in-out 0.2s;
        background-color: #e1ad01;
        color: #313131;
        box-shadow: 0px 0px 28px 7px rgba(0, 0, 0, 0.16);
      }
      
      @keyframes buttonAnimation {
        0% {
          transform: scale(1);
        }
        100% {
          transform: scale(1.1);
        }
      }
      
      .phoneTextContent button i {
        font-size: 4rem;
      }
      
}


/* NEWSPAPER SECTION */
@media screen and (max-width: 768px) {
    .newsPaperSection {
    height: 100%;
    flex-direction: column;
    
    }
    #newsPaper{
        height: 50vh;
    }
    
    .newsPaperSection .newsDesc,
    .newsPaperSection .newsForm {
    width: 100%;
    text-align: center;
    margin-bottom: 20px;
    }
    
    .newsForm {
    flex-direction: column;
    }
    
    .newsForm input {
    width: 100%;
    margin-bottom: 20px;
    margin-right: 0;
    }
    
    .newsForm button {
    width: 100%;
    }
    }
    
    .newsPaperSection {
    display: flex;
    justify-content: space-evenly;
    justify-items: center;
    align-items: center;
    height: 20vh;
    margin-top: 10px;
    background-color: #E1ad01;
    }
    
    .newsPaperSection .newsDesc h1 {
    margin: 0;
    }
    
    .newsForm {
    display: flex;
    justify-content: space-between;
    align-items: center;
    }
    
    .newsForm input {
    border: none;
    border-radius: 5px;
    height: 50px;
    width: 22rem;
    font-family: 'Montserrat', sans-serif;
    padding-left: 20px;
    margin-right: 20px;
    }
    
    ::placeholder {
    font-family: 'Montserrat', sans-serif;
    }
    
    .newsForm button {
    border: none;
    border-radius: 5px;
    height: 50px;
    width: 200px;
    padding-left: 10px;
    font-family: 'Montserrat', sans-serif;
    font-size: medium;
    }
    
    .newsForm button i {
    padding-right: 5px;
    font-size: 20px;
    }

    /* Footer */
    @media screen and (max-width: 768px) {
        footer {
        /* grid-template-columns: 1fr; */
        /* grid-template-rows: auto auto auto auto; */
        height: auto;
        padding: 20px 10px;
        display: flex;
        flex-direction: column;
        align-items: center;
        }
        .logos, .links, .contacts, .follow {
            text-align: center;
            margin: 20px 0;
        }
        
        .links li {
            padding: 10px 0;
        }
        
        .follow div:first-child {
            margin-bottom: 10px;
        }
        
        .follow i {
            padding: 10px 5px;
        }
<<<<<<< HEAD
    }   

/* Location */
@media screen and (max-width: 600px){
  .banner .imageContainer .textContainer .txtContent{
    width: 90%;
    margin-top: 40px;
  }
  .banner .imageContainer .textContainer .txtContent h1{
    font-size: 2rem;
  }
  .banner .imageContainer .textContainer .txtContent p{
    font-size: 0.9rem;
  }
  .location{
    margin-bottom: 10px;
  }
  .mapVisit h1{
    font-size: 1.5rem;
  }
  .mapVisit p{
    font-size: 0.7rem;
    margin-bottom: 20px;
  }
  .mapVisit{
    margin-top: -40px;
  }
  .mapLocation{
    max-width: 1700px;
    width: 100%;
    max-height: 400px;
    height: 100vh;
  }
  .theMapLocation{
    max-height: 395px;
    height: 100%;
    max-width: 1690px;
    width: 99%;
  }

  .franchise h1{
    font-size: 1.5rem;
  }
  .franchise .franp{
    font-size: 0.9rem;
    text-align: justify;
  }
  .forward{
    grid-template-columns: 100%;
  }
  .franchiiseApplication{
    grid-row-start: 2;
    margin: 0;
  }
  .franAppp{
    font-size: 0.9rem !important;
  }
  .theFranchiseImg{
    grid-row-start: 1;
    margin-bottom: 10px;
    margin-top: -20px;
  }
  .franchiseForm{
    grid-template-columns: 100%;
  }
  .franchiseForm div{
    margin: 0;
  }
}

@media screen and (max-width: 1011px) {
  .body-content{
    margin: 10px 0 40px;
  }
  .reserveContent{
    grid-template-columns: 100%;
    width: 85%;
    column-gap: 40px;
    margin: auto;
  }
  .contactDirectly{
    grid-template-columns: 100%;
    row-gap: 20px;
  }
  .reserveForm{
    margin-bottom: 50px;
  }
}

@media screen and (max-width: 1250px) {
  .forward{
    grid-template-columns: 100%;
    padding: 0;
  }
  .franchiiseApplication{
    grid-row-start: 2;
  }
  .theFranchiseImg{
    grid-row-start: 1;
    margin-bottom: 10px;
    margin-top: -20px;
  }
  .franchiseForm{
    grid-template-columns: 100%;
  }

  .banner .imageContainer .textContainer .txtContent{
    width: 90%;
    margin-top: 40px;
  }
}
=======
    }        

    /* Testimonials */
/* For screens smaller than 600px */
@media screen and (max-width: 600px) {
  .testimonials {
    height: 70vh;
  }

  .testimonial {
    width: 90%;
    padding: 10px;
  }
}
.testimonial img{
  width: 60%;
}

/* For screens between 600px and 900px */
@media screen and (min-width: 600px) and (max-width: 900px) {
  .testimonials {
    height: 70vh;
  }

  .testimonial {
    width: 70%;
  }
}
.testimonial img{
  width: 60%
}

/* For screens larger than 900px */
@media screen and (min-width: 900px) {
  .testimonials {
    height: 60vh;
  }

  .testimonial {
    width: 80%;
  }
  .testimonial img{
    width: 20%
  }
}

/* Menu */
@media screen and (max-width: 767px) {
  .menuContainer{
    height: 1260px;
  }
  .menubutton h1{
    text-align: center;
    font-size: 2rem;
  }
  .menubutton p{
    text-align: center;
  }
  .menuBtn{
    width: 100%;
    display: flex;
    justify-content: center;
  }
  #containerDivision {
    position: relative;
    width: 100%; /* modify width as desired */
    top: 45%;
    margin: 0 auto; 
    
    /* transform: translateY(-80%);  */
    /* overflow: scroll; */
}
.divi {
  position: absolute;
  width: 100%;
  height: 800px;
}

  .burgerContainer{
    /* padding-top: 14px; */
    display:grid;
    grid-template-columns: 100%;
    overflow: scroll;
    
  }
  .priceCart{
    padding-bottom: 20px;
  }
  .priceCart button{
    height: 2.5rem;
    width: 7rem;

    border: none;
    background-color: #201f1f;
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-style: italic;
    border-radius: 5px;

  }
}
>>>>>>> b79e6b96f1a5b644f72b23b832c20314ba5371b9
