@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,700;0,900;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');
html{
    scroll-behavior: smooth
}
body {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    /* height: 300rem; */
    scroll-behavior: smooth;
}




/*
============================
    Navigation Bar Style
============================
*/
.wraper{
    position: sticky;
    width:100%;
    top: 0;
    background-color: #E1ad01;
}
.navBar{
    display: flex;
    justify-items: center;
    align-items: center;
    justify-content: space-between;


    padding-left: 50px;
    padding-right: 50px;
    width: auto;
    height: 11vh;
    margin-top: 0;
    z-index: 1000;
    

}
.logo h1{
    font-family: 'Montserrat', sans-serif;
    font-style: italic;
    font-size: 1.4rem;

    text-align: center;
    text-justify: center;
    line-height: 90%;
    padding: 0;
    margin: 0;
}
.logo a{
    text-decoration: none;
    color: white;
}
.logo a:hover{
    color: rgb(63, 63, 63);
    transition: ease .3s;
}
nav{
    padding: 10px;
}
nav a{
    text-decoration: none;
    text-transform: uppercase;
    font-size: 1.2rem;
    font-weight: 500;

    color: white;

    padding: 30px;
}
.icons a{
    padding-left: 55px;
    font-size: 2rem;

    color: white;
    
}
.icons a:hover{
    color: rgb(63, 63, 63);;
    transition: ease 0.3s;
}
nav a:hover{
    color:  rgb(63, 63, 63);;
    transition: ease 0.3s;
}



/*
============================
 Navigation Bar Transition
============================
*/
.scrollOn{
    /* padding-left: 30px; */
    /* padding-right: 30px; */
    background-color: rgb(255, 255, 255);
    box-shadow: 0px 0px 15px -3px rgba(0,0,0,0.65);
    -webkit-box-shadow: 0px 0px 15px -3px rgba(0,0,0,0.65);
    -moz-box-shadow: 0px 0px 15px -3px rgba(0,0,0,0.65);
    transition: all ease .5s;
    
}
.scrollOn .logo a{
    text-decoration: none;
    color: #3b3b3b;
}
.scrollOn nav a{
    text-decoration: none;
    color: #313131;
}
.scrollOn .icons a{
    text-decoration: none;
    color: #313131;
}
.scrollOn .logo a:hover{
    text-decoration: none;
    color: #E1ad01;
}
.scrollOn nav a:hover{
    text-decoration: none;
    color: #E1ad01;
}
.scrollOn .icons a:hover{
    text-decoration: none;
    color: #E1ad01;
}






/*
============================
    Scroll Bar Style
============================
*/
::-webkit-scrollbar{
    width: 0.625rem;
}

::-webkit-scrollbar-track{
    background: var(--white-color);
}

::-webkit-scrollbar-thumb{
    background-color: #E1ad01;
}

/*
============================
    Hero Section Style
============================
*/

.heroWrapper{
    overflow: hidden;
    height: 85vh;
    display: flex;
    /* justify-items: center; */
    /* display: flex; */
    justify-content: center;
    align-items: center;
    /* height: 50rem; */
    background-color: #E1ad01;
    /* width: 100%; */
}

.heroImg{
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.heroImg img{
    width: 100%; 
    height: auto;   
    padding-bottom: 2%;
    
}

.menuHere {
    width: 100%;
}
.brokenLine{
    text-align: center;
}

.menuLink a{
    text-align: center;
    text-transform: uppercase;
    font-size: 500;
    text-decoration: none;
    color: whitesmoke;
   
}
.menuLink a:hover{
    color:  rgb(63, 63, 63);;
    transition: all ease 0.3s;
}


/*
=======================
Newspaper Section
=======================
*/

.newsPaperSection{
    display: flex;
    justify-content: space-evenly;
    justify-items: center;
    align-items: center;

    height: 20vh;
    margin-top: 10px;
    background-color: #E1ad01;
}

.newsPaperSection .newsDesc h1{
    margin:0;
}
.newsForm{
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}
.newsForm input{
    
    border: none;
    border-radius: 5px;
    height: 50px;
    width: 500px;
    font-family: 'Montserrat', sans-serif;
    padding-left: 20px;
    margin-right: 20px;
}

::placeholder{
    font-family: 'Montserrat', sans-serif;
    /* padding-left: 10px ; */
}

.newsForm button{
    border:none;
    border-radius:5px;
    height: 50px;
    width: 200px;
    padding-left: 10px;

    font-family: 'Montserrat', sans-serif;
    font-size: medium;

}

.newsForm button i{
    padding-right: 5px;
    font-size: 20px;
}

/* 
========================
Footer Section
========================
*/
.footer-container{
    background-color: #1b1b1b;
}
footer{
    padding: 20px;
    margin-left: 100px;
    margin-right: 100px;
    height: 50vh;
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    text-align: center;
    justify-items: center;

    background-color: #1b1b1b;
    color: white;
}
footer h3{
    color:#E1ad01;
    font-size: 1.3rem;
}

.logos{
    display: flex;
    flex-direction: column;
    align-items:center;
    justify-content:center;
    
}
.logos a{
    text-decoration: none;
    color: white;
    line-height: .87;
    font-style: italic;
}
.logos h1{
    margin: 0;
    
}

.links{
    display: flex;
    flex-direction: column;
    align-items:center;
    justify-content:center;
}
.links a{
    text-decoration: none;
    color:white;
    font-size: large;
    font-weight: 500;
}
.links li{
    list-style: none;
    margin: auto;
    padding: 10px;
    text-align: start;
}
.contacts{
        display: flex;
        flex-direction: column;
        /* align-items:center; */
        justify-content:center;  
        text-align: start;
}
.follow{
    display: flex;
        flex-direction: column;
        /* align-items:center; */
        justify-content:center;  
        text-align: start;
        
}
.follow i{
    font-size: 1.5rem;
    padding: 10px;
    /* color: #E1ad01; */
}




/*
============================
    Reservation Style
============================
*/
.body-content{
    height: 85vh;
    display: flex;
        flex-direction: column;
        align-items:center;
        justify-content:center;  
}
.reserveHeading{
    text-align: center;
    width: 50rem;
    margin: auto;
}
.reserveDetail{
    width: 85%;
    /* margin: auto; */
}
.reserveContent{
    display: grid;
    grid-template-columns: 50% 50%;
    width: 85%;
    column-gap: 40px;
    margin: auto;
}
.reserveForm{
    margin-right: 40px;
}
.reserveInfo{
    display: grid;
    grid-template-columns: 50% 50%;
    column-gap: 20px;
    row-gap: 20px;
}
.reserveInfo div input{
    width: 100%;
    height: 2rem;
    border-radius: 10px;
    outline: none;
    font-size: 1.2rem;
    padding-top: 10px;
    text-indent: 10px;
}
.reserveInfo div{
    margin-right: 20px;
}
.input-box{
    position: relative;
}
.input-box label{
    position: absolute;
    bottom: 28%;
    pointer-events: none;
    margin-left: 15px;
    padding: 0 3px;
    font-size: 1.2rem;
    transition: 0.3s ease;
    text-transform: uppercase;
}
.input-box input:valid ~ label,
.input-box input:focus ~ label{
    transform: translateY(-22px);
    font-size: 1rem;
    margin-left: 12px;
    letter-spacing: 0.2em;
    background-color: white;
    border-left: 1px solid black;
    border-right: 1px solid black;
}
.reserveForm textarea{
    width: 100%;
    height: 10rem;
}
.reserveOnline{
    margin-top: -30px;
}
.contactDirectly{
    display: grid;
    grid-template-columns: 50% 50%;
    text-align: center;
}
.contactDirectly h3, .contactDirectly p{
    margin: 0;
}

/* 
============================
Intro Section
============================
*/
.intro{
    /* overflow: hidden; */
    padding: 5%;
    height: 85vh;
    display: grid;
    grid-template-columns: 40% 60% ;
}
.intro-image{
    display: flex;
    align-items:center;
    justify-content:center;  
}
.intro .intro-image img{
    max-width: 60%;
  height: auto;
}
.intro-content{
    display: flex;
        flex-direction: column;
        justify-content:center;  
        text-align: start;

        padding: 3%;
}
.intro-content h1{
    font-style: italic;
    font-size: 2.5rem;
}
.intro-content p{
    font-size: 1.3rem;
}
.counter-wrapper{
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    padding: 6%;
    padding-left: 0;
}

.intro-content button{
    width: 9rem;
    height: 3rem;

    border: none;
    font-family: 'Montserrat', sans-serif;
    font-weight:500;
    background-color: #E1ad01;
}
.intro-content button:hover{
    transition: .3s ease;
    color: #E1ad01;
    font-size: medium;
    font-style: bold;
    background-color: white;
    box-shadow: -1px -1px 13px 4px rgba(0,0,0,0.29);
    -webkit-box-shadow: -1px -1px 13px 4px rgba(0,0,0,0.29);
    -moz-box-shadow: -1px -1px 13px 4px rgba(0,0,0,0.29);;
}

/* 
============================
Location
============================
*/
.location{
    width: 90%;
    margin: auto;
    text-align: center;
}
.franchise{
    width: 80%;
    margin: auto;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
fieldset{
    width: 90%;
    margin: auto;
    border: none;
    border-top: 2px solid black;
    border-bottom: 2px solid black;
}
legend{
    margin-left: 30px;
    text-align: start;
}
.franchiseForm{
    width: 70%;
    text-align: center;
    display: grid;
    row-gap: 20px;
    margin: 30px auto;
}
.franchiseInputBox{
    position: relative;
}
.franchiseInputBox input, .franchiseInputBox select{
    box-sizing: border-box;
    outline: none;
    width: 100%;
    height: 7vh;
    border-radius: 10px;
    border-color: black;
    font-size: 1.2rem;
    padding-top: 10px;
    text-indent: 15px;
}
.franchiseBtn{
    margin: auto;
}
.franchiseBtn button{
    width: 15rem;
    height: 7vh;
}
.franchiseInputBox label{
    position: absolute !important;
    bottom: 29% !important;
    left: 2%;
    padding: 0 5px;
    pointer-events: none;
    color: rgba(0, 0, 0, 0.429);
    transition: 0.3s;
}
.franchiseInputBox input:valid ~ label,
.franchiseInputBox input:focus ~ label{
    transform: translateY(-25px);
    background-color: white;
    border-left: 1px solid black;
    border-right: 1px solid black;
    box-shadow: 0 0 10px white;
    letter-spacing: 0.2rem;
    color: black;
}
.franchiseInputBox input:focus{
    box-shadow: 0 0 10px 5px yellow;
    border-color: rgba(0, 0, 0, 0.453);
}
