@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,700;0,900;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');
html{
    scroll-behavior: smooth
}
body {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    /* height: 300rem; */
    scroll-behavior: smooth;
}




/*
============================
    Navigation Bar Style
============================
*/
.wraper{
    position: sticky;
    width:100%;
    top: 0;
    background-color: #E1ad01;
}
.navBar{
    display: flex;
    justify-items: center;
    align-items: center;
    justify-content: space-between;


    padding-left: 50px;
    padding-right: 50px;
    width: auto;
    height: 11vh;
    margin-top: 0;
    z-index: 1000;
    

}
.logo h1{
    font-family: 'Montserrat', sans-serif;
    font-style: italic;
    font-size: 1.4rem;

    text-align: center;
    text-justify: center;
    line-height: 90%;
    padding: 0;
    margin: 0;
}
.logo a{
    text-decoration: none;
    color: white;
}
.logo a:hover{
    color: rgb(63, 63, 63);
    transition: ease .3s;
}
nav{
    padding: 10px;
}
nav a{
    text-decoration: none;
    text-transform: uppercase;
    font-size: 1.2rem;
    font-weight: 500;

    color: white;

    padding: 30px;
}
.icons a{
    padding-left: 55px;
    font-size: 2rem;

    color: white;
    
}
.icons a:hover{
    color: rgb(63, 63, 63);;
    transition: ease 0.3s;
}
nav a:hover{
    color:  rgb(63, 63, 63);;
    transition: ease 0.3s;
}



/*
============================
 Navigation Bar Transition
============================
*/
.scrollOn{
    /* padding-left: 30px; */
    /* padding-right: 30px; */
    background-color: rgb(255, 255, 255);
    box-shadow: 0px 0px 15px -3px rgba(0,0,0,0.65);
    -webkit-box-shadow: 0px 0px 15px -3px rgba(0,0,0,0.65);
    -moz-box-shadow: 0px 0px 15px -3px rgba(0,0,0,0.65);
    transition: all ease .5s;
    
}
.scrollOn .logo a{
    text-decoration: none;
    color: #3b3b3b;
}
.scrollOn nav a{
    text-decoration: none;
    color: #313131;
}
.scrollOn .icons a{
    text-decoration: none;
    color: #313131;
}
.scrollOn .logo a:hover{
    text-decoration: none;
    color: #E1ad01;
}
.scrollOn nav a:hover{
    text-decoration: none;
    color: #E1ad01;
}
.scrollOn .icons a:hover{
    text-decoration: none;
    color: #E1ad01;
}






/*
============================
    Scroll Bar Style
============================
*/
::-webkit-scrollbar{
    width: 0.625rem;
}

::-webkit-scrollbar-track{
    background: var(--white-color);
}

::-webkit-scrollbar-thumb{
    background-color: #E1ad01;
}

/*
============================
    Hero Section Style
============================
*/

.heroWrapper{
    display: flex;
    /* justify-items: center; */
    /* display: flex; */
    justify-content: center;
    align-items: center;
    /* height: 50rem; */
    background-color: #E1ad01;
    width: 100%;
}

.heroImg{
    display: flex;
    justify-content: center;
    align-items: center;
}

.menuHere {
    width: 100%;
}
.brokenLine{
    text-align: center;
}

.menuLink a{
    text-align: center;
    text-transform: uppercase;
    font-size: 500;
    text-decoration: none;
    color: whitesmoke;
   
}
.menuLink a:hover{
    color:  rgb(63, 63, 63);;
    transition: all ease 0.3s;
}


/*
=======================
Newspaper Section
=======================
*/

.newsPaperSection{
    display: flex;
    justify-content: space-evenly;
    justify-items: center;
    align-items: center;

    height: 20vh;
    margin-top: 10px;
    background-color: #E1ad01;
}

.newsPaperSection .newsDesc h1{
    margin:0;
}
.newsForm{
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}
.newsForm input{
    
    border: none;
    border-radius: 5px;
    height: 50px;
    width: 500px;
    font-family: 'Montserrat', sans-serif;
    padding-left: 20px;
    margin-right: 20px;
}

::placeholder{
    font-family: 'Montserrat', sans-serif;
    /* padding-left: 10px ; */
}

.newsForm button{
    border:none;
    border-radius:5px;
    height: 50px;
    width: 200px;
    padding-left: 10px;

    font-family: 'Montserrat', sans-serif;
    font-size: medium;

}

.newsForm button i{
    padding-right: 5px;
    font-size: 20px;
}

/* 
========================
Footer Section
========================
*/

footer{
    display: flex;
    justify-content:center;
    justify-items: center;
    align-items: center;

    background: #171717;
    height: 35rem;
}
footer .logos{
    width: 30vw;
}

footer .logos span{
    color:white;
    font-size: 1.1rem;
}
footer .logos h1 a{
    text-decoration: none;
    color: white;
    
}
footer .logos h1{
    line-height: 80%;
    padding: 0;
    margin: 0;
    margin-bottom: 15px;
    /* text-align: center; */
    /* text-justify: center; */

    font-style: italic;
    font-size:50px;
}

/*
============================
    Reservation Style
============================
*/

.reserveHeading{
    text-align: center;
    width: 50rem;
    margin: auto;
}
.reserveDetail{
    width: 85%;
    margin: auto;
}
.reserveContent{
    display: grid;
    grid-template-columns: 50% 50%;
    width: 85%;
    column-gap: 40px;
    margin: auto;
}
.reserveForm{
    margin-right: 40px;
}
.reserveInfo{
    display: grid;
    grid-template-columns: 50% 50%;
    column-gap: 20px;
}
.reserveInfo div input{
    width: 100%;
}
.reserveInfo div{
    margin-right: 20px;
}
.reserveForm textarea{
    width: 100%;
    height: 10rem;
}
.reserveOnline{
    margin-top: -30px;
}
.contactDirectly{
    display: grid;
    grid-template-columns: 50% 50%;
    text-align: center;
}
.contactDirectly h3, .contactDirectly p{
    margin: 0;
}