@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,700;0,900;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');
html{
    scroll-behavior: smooth
}
body {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    /* height: 300rem; */
    scroll-behavior: smooth;
}




/*
============================
    Navigation Bar Style
============================
*/
.wraper{
    position: sticky;
    width:100%;
    top: 0;
    background-color: #E1ad01;
    transition: ease-in-out .1s;
    z-index: 100;
    overflow: hidden;
}
.wraperAddition{
    position: fixed;
    width:100%;
    top: 0;
    background-color: #3131316c;
    transition: ease-in-out .1s;
    z-index: 100;
    overflow: hidden;
}
.navBar{
    display: flex;
    justify-items: center;
    align-items: center;
    justify-content: space-between;


    padding-left: 50px;
    padding-right: 50px;
    width: auto;
    height: 11vh;
    margin-top: 0;
    z-index: 1000;
    

}
.logo{
    animation: logoEnt 0.8s ease 0s 1 normal forwards;
}
@keyframes logoEnt {
	0% {
		opacity: 0;
		transform: translateX(-250px);
	}

	100% {
		opacity: 1;
		transform: translateX(0);
	}
}
.logo h1{
    font-family: 'Montserrat', sans-serif;
    font-style: italic;
    font-size: 1.4rem;

    text-align: center;
    text-justify: center;
    line-height: 90%;
    padding: 0;
    margin: 0;
}
.logo a{
    text-decoration: none;
    color: white;
}
.logo a:hover{
    color: rgb(63, 63, 63);
    transition: ease .3s;
}
.wraperAddition .logo a:hover{
    color: #E1ad01;
    transition: ease .3s;
}
nav{
    padding: 10px;
    animation: navEnt 0.8s ease 0s 1 normal forwards;
}
@keyframes navEnt {
	0% {
		opacity: 0;
		transform: translateY(-250px);
	}

	100% {
		opacity: 1;
		transform: translateY(0);
	}
}
nav a{
    text-decoration: none;
    text-transform: uppercase;
    font-size: 1.2rem;
    font-weight: 500;

    color: white;

    padding: 30px;
}
.icons{
    animation: iconsEnt 0.8s ease 0s 1 normal forwards;
}
@keyframes iconsEnt {
	0% {
		opacity: 0;
		transform: translateX(250px);
	}

	100% {
		opacity: 1;
		transform: translateX(0);
	}
}
.icons a{
    padding-left: 55px;
    font-size: 2rem;

    color: white;
    
}
.icons a:hover{
    color: rgb(63, 63, 63);
    transition: ease 0.3s;
}
.wraperAddition .icons a:hover{
    color: #E1ad01;
    transition: ease 0.3s;
}
nav a:hover{
    color:  rgb(63, 63, 63);
    transition: ease 0.3s;
}
.wraperAddition nav a:hover{
    color:  #E1ad01;
    transition: ease 0.3s;
}



/*
============================
 Navigation Bar Transition
============================
*/
.scrollOn{
    /* padding-left: 30px; */
    /* padding-right: 30px; */
    background-color: rgb(255, 255, 255);
    box-shadow: 0px 0px 15px -3px rgba(0,0,0,0.65);
    -webkit-box-shadow: 0px 0px 15px -3px rgba(0,0,0,0.65);
    -moz-box-shadow: 0px 0px 15px -3px rgba(0,0,0,0.65);
    transition: all ease .5s;
    
}
.scrollOnAdditional{
    background-color: #E1ad01;
    box-shadow: 0px 0px 15px -3px rgba(0,0,0,0.65);
    -webkit-box-shadow: 0px 0px 15px -3px rgba(0,0,0,0.65);
    -moz-box-shadow: 0px 0px 15px -3px rgba(0,0,0,0.65);
    transition: all ease .5s;
    
}
.scrollOn .logo a{
    text-decoration: none;
    color: #3b3b3b;
}
.scrollOnAdditional .logo a{
    text-decoration: none;
    color: white;
}
.scrollOn nav a{
    text-decoration: none;
    color: #313131;
}
.scrollOnAdditional nav a{
    text-decoration: none;
    color: white;
}
.scrollOn .icons a{
    text-decoration: none;
    color: #313131;
}
.scrollOnAdditional .icons a{
    text-decoration: none;
    color: white;
}
.scrollOn .logo a:hover{
    text-decoration: none;
    color: #E1ad01;
}
.scrollOnAdditional .logo a:hover{
    text-decoration: none;
    color: #1b1b1b;
}
.scrollOn nav a:hover{
    text-decoration: none;
    color: #E1ad01;
}
.scrollOnAdditional nav a:hover{
    text-decoration: none;
    color: #1b1b1b;
}
.scrollOn .icons a:hover{
    text-decoration: none;
    color: #E1ad01;
}
.scrollOnAdditional .icons a:hover{
    text-decoration: none;
    color: #1b1b1b;
}






/*
============================
    Scroll Bar Style
============================
*/
::-webkit-scrollbar{
    width: 0.625rem;
}

::-webkit-scrollbar-track{
    background: var(--white-color);
}

::-webkit-scrollbar-thumb{
    background-color: #E1ad01;
}

/*
============================
    Hero Section Style
============================
*/

.heroWrapper{
    height: 88vh;
    display: flex;
    justify-items: center;
    /* display: flex; */
    justify-content: center;
    align-items: center;
    /* height: 50rem; */
    background-color: #E1ad01;
    /* width: 100%; */

}
.heroImg{
    animation: heroEnt 0.8s ease 0s 1 normal forwards;

}
@keyframes heroEnt {
	0% {
		opacity: 0;
		transform: translateY(250px);
	}

	100% {
		opacity: 1;
		transform: translateY(0);
	}
}

.heroImg{
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.heroImg img{
    width: 100%; 
    height: auto;   
    padding-bottom: 2%;
    
}

.menuHere {
    width: 100%;
}
.brokenLine{
    text-align: center;
}
.menuLink{
    animation: menuEnt 0.8s ease 0s 1 normal forwards;
}
@keyframes menuEnt {
	0% {
		opacity: 0;
		transform: translateY(-50px);
	}

	100% {
		opacity: 1;
		transform: translateY(0);
	}
}
.menuLink a{
    text-align: center;
    text-transform: uppercase;
    font-size: 500;
    text-decoration: none;
    color: whitesmoke;
   
}
.menuLink a:hover{
    color:  rgb(63, 63, 63);;
    transition: all ease 0.3s;
}


/*
=======================
Newspaper Section
=======================
*/

.newsPaperSection{
    display: flex;
    justify-content: space-evenly;
    justify-items: center;
    align-items: center;

    height: 20vh;
    margin-top: 10px;
    background-color: #E1ad01;
}

.newsPaperSection .newsDesc h1{
    margin:0;
}
.newsForm{
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}
.newsForm input{
    
    border: none;
    border-radius: 5px;
    height: 50px;
    width: 500px;
    font-family: 'Montserrat', sans-serif;
    padding-left: 20px;
    margin-right: 20px;
}

::placeholder{
    font-family: 'Montserrat', sans-serif;
    /* padding-left: 10px ; */
}

.newsForm button{
    border:none;
    border-radius:5px;
    height: 50px;
    width: 200px;
    padding-left: 10px;

    font-family: 'Montserrat', sans-serif;
    font-size: medium;

}

.newsForm button i{
    padding-right: 5px;
    font-size: 20px;
}

/* 
========================
Footer Section
========================
*/
.footer-container{
    background-color: #1b1b1b;
}
footer{
    padding: 20px;
    margin-left: 100px;
    margin-right: 100px;
    height: 50vh;
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    text-align: center;
    justify-items: center;

    background-color: #1b1b1b;
    color: white;
}
footer h3{
    color:#E1ad01;
    font-size: 1.3rem;
}

.logos{
    display: flex;
    flex-direction: column;
    align-items:center;
    justify-content:center;
    
}
.logos a{
    text-decoration: none;
    color: white;
    line-height: .87;
    font-style: italic;
}
.logos h1{
    margin: 0;
    
}

.links{
    display: flex;
    flex-direction: column;
    align-items:center;
    justify-content:center;
}
.links a{
    text-decoration: none;
    color:white;
    font-size: large;
    font-weight: 500;
}
.links li{
    list-style: none;
    margin: auto;
    padding: 10px;
    text-align: start;
}
.contacts{
        display: flex;
        flex-direction: column;
        /* align-items:center; */
        justify-content:center;  
        text-align: start;
}
.follow{
    display: flex;
        flex-direction: column;
        /* align-items:center; */
        justify-content:center;  
        text-align: start;
        
}
.follow i{
    font-size: 1.5rem;
    padding: 10px;
    /* color: #E1ad01; */
}




/*
============================
    Reservation Style
============================
*/
.banner{
    height: 45vh;
    background-color: #1b1b1b;
    /* object-fit: cover; */
    overflow: hidden;
}
.banner h1{
    color: white;
    text-align: center;
    margin: 0;
}
.banner .imageContainer{
    position: relative;
}
.banner .imageContainer .textContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    position: absolute;
    width: 100%;
    height: 100%;

    background-color: #59595955;
    color: white;
}
.banner .imageContainer .textContainer .txtContent{
    width: 50%;
    text-align: center;
}
.banner .imageContainer .textContainer .txtContent h1{
    font-size: 3rem;
    font-style: italic;
}

.banner .imageContainer img{
    height:45vh;
    width: 100%;
    object-fit: cover;
}
.body-content{
    height: 85vh;
    display: flex;
        flex-direction: column;
        align-items:center;
        justify-content:center;  
}
.reserveHeading{
    text-align: center;
    width: 50rem;
    margin: auto;
}
.reserveDetail{
    width: 85%;
    /* margin: auto; */
}
.reserveContent{
    display: grid;
    grid-template-columns: 50% 50%;
    width: 85%;
    column-gap: 40px;
    margin: auto;
}
.reserveForm{
    margin-right: 40px;
}
.reserveInfo{
    display: grid;
    grid-template-columns: 50% 50%;
    column-gap: 20px;
    row-gap: 20px;
}
.reserveInfo div input{
    width: 100%;
    height: 2rem;
    border-radius: 10px;
    outline: none;
    font-size: 1.2rem;
    padding-top: 10px;
    text-indent: 10px;
}
.reserveInfo div{
    margin-right: 20px;
}
.input-box{
    position: relative;
}
.input-box label{
    position: absolute;
    bottom: 28%;
    pointer-events: none;
    margin-left: 15px;
    padding: 0 3px;
    font-size: 1.2rem;
    transition: 0.3s ease;
    text-transform: uppercase;
}
.input-box input:valid ~ label,
.input-box input:focus ~ label{
    transform: translateY(-22px);
    font-size: 1rem;
    margin-left: 12px;
    letter-spacing: 0.2em;
    background-color: white;
    border-left: 1px solid black;
    border-right: 1px solid black;
}
.reserveForm textarea{
    width: 100%;
    height: 10rem;
}
.reserveOnline{
    margin-top: -30px;
}
.contactDirectly{
    display: grid;
    grid-template-columns: 50% 50%;
    text-align: center;
}
.contactDirectly h3, .contactDirectly p{
    margin: 0;
}

/* 
============================
Intro Section
============================
*/
.intro{
    /* overflow: hidden; */
    padding: 5%;
    height: 85vh;
    display: grid;
    grid-template-columns: 40% 60% ;
    overflow: hidden;
}
.intro-image{
    display: flex;
    align-items:center;
    justify-content:center;  
}
.intro .intro-image img{
    max-width: 60%;
  height: auto;
}
.intro-image img:hover{
    animation: imageAnimation 10s ease 0s infinite normal forwards;
}
@keyframes imageAnimation {
	0%,
	100% {
		transform: translateY(0);
	}

	10%,
	30%,
	50%,
	70% {
		transform: translateY(-8px);
	}

	20%,
	40%,
	60% {
		transform: translateY(8px);
	}

	80% {
		transform: translateY(6.4px);
	}

	90% {
		transform: translateY(-6.4px);
	}
}
.intro-content{
    display: flex;
        flex-direction: column;
        justify-content:center;  
        text-align: start;

        padding: 3%;
}
.intro-content h1{
    font-style: italic;
    font-size: 2.5rem;
}
.intro-content p{
    font-size: 1.3rem;
}
.counter-wrapper{
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    padding: 6%;
    padding-left: 0;
}

.intro-content button{
    width: 9rem;
    height: 3rem;
    border-radius: 5px;

    border: none;
    font-family: 'Montserrat', sans-serif;
    font-weight:500;
    background-color: #E1ad01;
}
.intro-content button:hover{
    transition: .3s ease;
    color: #E1ad01;
    /* font-size: medium; */
    font-style: bold;
    background-color: white;
    animation: menuBtnHover .3s ease 0s 1 normal forwards;
}

/* 
============================
Location
============================
*/
.location{
    text-align: center;
    margin: auto;
    position: relative;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
fieldset{
    width: 100%;
    box-sizing: border-box;
    margin: auto;
    border: none;
    border-top: 7px solid #E1ad01;
    border-bottom: 7px solid #E1ad01;
    border-radius: 50px;
}
legend{
    text-align: left;
    margin-left: 30px;
    font-size: 1.4rem;
    font-style: italic;
    background-color: white;
}
.franchiseForm{
    width: 70%;
    text-align: center;
    display: grid;
    row-gap: 30px;
    margin: 20px auto;
}
.location div fieldset .franchiseForm .franchiseInputBox{
    position: relative !important;
}
.franchiseInputBox input, .franchiseInputBox select{
    outline: none;
    width: 100%;
    height: 50px;
    border-radius: 5px;
    border: 2px solid black;
    font-size: 1.2rem;
    padding-top: 10px;
    text-indent: 15px;
}
.franchiseInputBox select{
    width: 101%;
    height: 63px;
}
.franchiseBtn{
    margin: auto;
}
.franchiseBtn button{
    width: 15rem;
}
.location div fieldset .franchiseForm .franchiseInputBox .somethingelse{
    position: absolute;
    bottom: 34%;
    left: 2%;
    font-size: larger;
    pointer-events: none;
    color: rgba(0, 0, 0, 0.429);
    transition: 0.3s;
}
.franchiseInputBox input:valid ~ .somethingelse,
.franchiseInputBox input:focus ~ .somethingelse{
    transform: translateY(-30px);
    background-color: white;
    border-left: 1px solid black;
    border-right: 1px solid black;
    box-shadow: 0 0 10px white;
    letter-spacing: 0.2rem;
    color: black;
}
.franchiseInputBox select:valid ~ .somethingelse,
.franchiseInputBox select:focus ~ .somethingelse{
    transform: translateY(-30px);
    background-color: white;
    border-left: 1px solid black;
    border-right: 1px solid black;
    box-shadow: 0 0 10px white;
    letter-spacing: 0.2rem;
    color: black;
}
.franchiseInputBox select:focus{
    box-shadow: 0 0 5px 5px #E1ad01;
    border-color: rgba(0, 0, 0, 0.199);
}
.franchiseInputBox input:focus{
    box-shadow: 0 0 5px 5px #E1ad01;
    border-color: rgba(0, 0, 0, 0.453);
}
.mapLocation{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 1700px;
    height: 650px;
    margin: auto;
    overflow: hidden;
}
.mapLocation::before{
    content: "";
    position: absolute;
    height: 1900px;
    width: 1900px;
    background-image: conic-gradient(transparent, transparent, transparent, #E1ad01);
    transition: 2s ease;
}
.mapLocation.mapBorder::before{
    background: #E1ad01 !important;
    transition: 2s ease;
}
.mapLocation.mapActive::before{
    animation: rotate 5s linear infinite;
}
@keyframes rotate {
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
}
.mapVisit{
    padding-top: 30px;
    padding-bottom: 20px;
    display: inline-block;
}
.theMapLocation{
    position: absolute;
    height: 640px;
    width: 1690px;
    margin: auto;
    background-color: #E1ad01;
    overflow: hidden;
}
.franchiseCrown h1{
    font-size: 7rem;
    margin: 0;
    padding: 0;
}
.franchiseCrown{
    margin-top: -50px;
}
.franchiseCheckBox{
    height: 7vh;
    text-align: left;
    font-size: larger;
    display: flex;
    align-items: center;
    margin-top: -20px;
}
input.larger{
    width: 10%;
    height: 40%;
}
.franchiseCheckBox label{
    margin-left: -40px;
}
.forward{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 80%;
    margin: auto;
    padding-bottom: 30px;
}
.forwardDiv{
    display: flex;
    align-items: center;
    column-gap: 10px;
    cursor: pointer;
}
.forwardDiv h1{
    margin: 0;
}
.forward i{
    font-size: 3rem;
    color: #E1ad01;
}
.forwardDiv:hover i{
    animation: left 0.4s alternate-reverse infinite;
}
@keyframes left{
    0%{
        transform: translateX(0);
    }
    100%{
        transform: translateX(20px);
    }
}
/*

/*
====================== 
PHONE ORDER SECTION
======================
*/
.phoneWrapper{
    display: flex;
    justify-content: space-evenly;
    overflow: hidden;
    justify-items: center;
    align-items: center;

    height: 90vh;
    padding: 20px;
}
.phoneImage{
    height: 80%;
}
.phoneImage img{
    width: auto;
  height : auto;
  max-height: 100%;
  max-width: 100%;
}
.phoneImage img:hover{
    animation: phoneEnt 2s ease 0s infinite normal forwards;
}
@keyframes phoneEnt {
	0% {
		transform: translate(0);
	}

	20% {
		transform: translate(-2px, 2px);
	}

	40% {
		transform: translate(-2px, -2px);
	}

	60% {
		transform: translate(2px, 2px);
	}

	80% {
		transform: translate(2px, -2px);
	}

	100% {
		transform: translate(0);
	}
}
.phoneTextContent{
    width: 45%;
    text-align: end;


    display: flex;
    flex-direction: column;
    align-items: flex-end;
}
.phoneTextContent h1{
    font-style:italic;
    text-transform: uppercase;
    font-size: 2.5rem;
}

.phoneTextContent button{
    width: 500px;
    height: 120px;
    margin: 15px;
    margin-right:0;

    border: none;
    background-color: #595959;
    color: white;
    border-radius: 10px;

    font-size: 2rem;
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    font-style: italic;
    /* text-align: start; */
    /* padding-left: 40px; */
}
.phoneTextContent button:hover{
    animation: buttonAnimation .2s ease 1 normal forwards;
}
@keyframes buttonAnimation {
	0% {
		transform: scale(1);
	}

	100% {
		transform: scale(1.1);
	}
}

.phoneTextContent button i{
font-size: 4rem;
}
.phoneTextContent button:hover{
    transition: ease-in-out 0.2s;
    background-color: #E1ad01;
    color: #313131;
    box-shadow: 0px 0px 28px 7px rgba(0,0,0,0.16);
    

}

/*
===============================
Testimonials
=============================
*/
.testimonialsWrapper{
    padding: 0;
    margin: 0;
    background-image: url(https://images.unsplash.com/photo-1497644083578-611b798c60f3?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80);
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
}
.titleTest{
    padding: 0;
    background-color: #313131ad;
}
.titleTest h1{
    color: white;
    font-size: 2.5rem;
    font-style: italic;
}
.testimonials {
    width: 100%;
    height: 60vh;
    margin: 0 auto;
    overflow: hidden;
    position: relative;
    background-color: #313131ad;
       /* padding-top: 20px; */
    /* background-color: #e1ad0171; */
  }
  
  .testimonial {
    width: 80%;
    height: 70%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;

    background-color: rgba(255, 255, 255, 0.473);
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
    position: absolute;
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
  }
  
  .testimonial.active {
    opacity: 1;
  }
  
  .titleTest{
    color:#1b1b1b;
    text-transform: uppercase;
    text-align: center;
    padding: 20px;
  }

  .author {
    font-style: italic;
    text-align: right;
  }
  

/* 
====================
MENU
====================
 */
 .menuContainer {
    height: 120vh;
    background-color: #E1ad01;
    /* overflow: hidden; */
  }
  
  #containerDivision {
    position: relative;
    width: 90%; /* modify width as desired */
    margin: 0 auto; /* horizontally center the element */
    top: 50%; /* vertically center the element */
    transform: translateY(-50%); /* vertically center the element */
  }
  
  .divi {
    position: absolute;
    width: 100%;
    height: 800px;
    display: none;
    top: 35%; /* vertically center the element */
    left: 50%; /* horizontally center the element */
    transform: translate(-50%, -65%); /* horizontally and vertically center the element */
  }
.active{
    display: block;
    animation: menuEnt 1s ease 0s 1 normal forwards;
}
@keyframes menuEnt {
	0% {
		opacity: 0;
	}

	100% {
		opacity: 1;
	}
}
.burgerContainer{
    width: 100%;
    height: 100%;

    display:grid;
    grid-template-columns: 20% 20% 20% 20% 20%;
    text-align: center;
    justify-items: center;
}
.menubutton{
    width: 100%;
    display: flex;
    flex-direction: column;
    /* padding-top: 100px; */

    justify-items: center;
    align-items: center;
    justify-content: center;
}
.card {
    /* box-shadow: 0 4px 8px 0 rgba(255, 0, 0, 0.2); */
    transition: 0.3s;
    width: 80%;
    padding-top: 20px;
  }
  
  .card:hover {
    /* box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2); */
    animation: cardAnimation .2s ease 1 normal forwards;
  }
  @keyframes cardAnimation {
	0% {
		transform: scale(1);
	}

	100% {
		transform: scale(1.1);
	}
}
  .container {
    padding: 2px 16px;
  }
  .menuBtn button{
    border: none;
    width: 140px;
    height: 50px;
    font-family: 'Montserrat', sans-serif;
    font-style: italic;
    font-size: 1rem;

    margin: 20px;
    background: #313131;
    color: white;
    border-radius: 5px;

  }
  .menuBtn button:hover{
    background-color: #f3bd0d;
    color: #313131;
    animation: menuBtnHover .3s ease 0s 1 normal forwards;
  }
  @keyframes menuBtnHover {
	0% {
		box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
		transform: scale(1);
	}

	100% {
		box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.35);
		transform: scale(1.1);
	}
}